{{!-- Book title <h1></h1>
      Book Cover Image <img>
      Author
      Number of Pages
      Comments already made (divs>)
      Rating (if time)
      Option to make a comment -- text box Tell us what you thought!
    Gallery style that user can click through to see all books
 --}}