{{!-- 
Book Blend Reviews <h1></h1>
About Us <section></section>
Find me something to read! (random book generator) 
Leave a Review about a book you've read <button to review.handlebars>
 --}}

<div>
  <h2>About Us</h2>
  <p>Book Blend Reviews is a site dedicated to helping you find your next favorite book. We have reviews of books from all genres, and we also have a random book generator to help you find something new to read. If you've read a book recently, we'd love to hear what you thought about it. Leave a review and help others find their next favorite book!</p>
  <button onclick="location.href='book'">Find Me A Book!</button>
  <button onclick="location.href='review'">Write A Review</button>
</div>