<section class="review-page">
  {{!-- <h1>Book Blend Reviews</h1> --}}
  <form class="review-form">
    <div class="book-info">
      <textarea id="title" name="title" placeholder="Title" required></textarea>
      <textarea id="author" name="author" placeholder="Author" required></textarea>
    </div>
    <textarea id="review" name="review" placeholder="Enter your review here..." required></textarea>
    <div class="rate-container">
      <select id="rating" name="rating" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <div class="rating-container">
        <div class="rating">{{{rating}}}</div>
        <div class="stars">{{{background}}}</div>
      </div>
    </div>
    <button id="submit-review" type="submit">Submit</button>
  </form>
</section>

<script src="/js/reviewHandlers.js"></script>
<script src="/js/render.js"></script>