{{!-- 
Review Books here
<form>
  Book Title: 
  Author: 
  Review: 
  Overall Rating: (if time)
  Submit Button
</form>
 --}}

<section>
  <h1>Book Blend Reviews</h1>
  <form>
    <textarea id="title" name="title" placeholder="Title" required></textarea>
    <textarea id="author" name="author" placeholder="Author" required></textarea>
    <textarea id="review" name="review" placeholder="Enter your review here..." required></textarea>
    <button id="submit-review" type="submit">Submit</button>
  </form>
</section>

<script src="/js/reviewHandlers.js"></script>