/* colors used frequently: tan/page color #d6c7b3, dark red, goldenrod.*/
:root {
    --background: #d6c7b3;
    --header-footer: darkred;
    --accent: goldenrod;
    --primary-font: 'Marcellus', serif;
    --secondary-font: 'Fira Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* background-color: #9A6850; */
    background-color: var(--header-footer);
    color: var(--accent);
    text-align: center;
    width: 100%;
    height: 40px;
}

.header button {
    background-color: var(--background);
    color: black;
    padding: 6px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 20;
    font-family: var(--primary-font);
    margin: 10px;
}

.nav {
    color: var(--accent);
    float: left;
}
.nav a {
    color: var(--accent);
    padding: 7px 4px;
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 20px;

}

.input {
    background-color: var(--background);
    padding: 5px;
}

#search-form {
    float: right;
    border-radius: 5px;
    margin-top: 5px;
}

#search-form button {
    background-color: var(--background) ;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 20;
    font-family: var(--primary-font);
    margin: 10px;
}

.main h1 {
    /* background-color: #9A6850; */
    background-color: darkred;
    text-align: center;
    font-size: 60px;
    color: goldenrod;
    font-family: var(--primary-font);
    padding-bottom: 15px;
}

#home-page {
    background-color: #d6c7b3;
    color: black;
    padding: 10px;
    text-align: center;
}


#home-page h2 {
    font-size: 50px;
    font-weight: 50;
    font-family: var(--primary-font);
    padding: 20px;
}

#home-page p {
    font-size: 30px;
    font-weight: 20;
    font-family: var(--secondary-font);
    padding: 20px;
}

#home-page button {
    background-color: darkred;
    color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 20;
    font-family: var(--primary-font);
    margin: 10px;
}

.home-content {
    padding: 500px;
    background-image: url(../Images/jaredd-craig-HH4WBGNyltc-unsplash.jpg);
    background-size: cover;
}
.review-card {
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}

.search-container {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 40%;
}

.search-card {

    border-top: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}

.rating-container {
    position: relative;
    width: 150px;
    height: 30px;

}

.stars {
    background: url('../Images/star-background.svg') no-repeat;
    background-size: cover;
    width: 150px;
    height: 30px;
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0px;
}

.rating {
    background: url('../Images/rating-form.svg');
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 30px;
}

#book-page {
    background-color: #EDE3D6;
    color: black;
    text-align: center;
    padding-top: 20px;
}
#book-page h1 {
    font-size: 50px;
    font-weight: 50;
    font-family: var(--primary-font);
    padding: 20px;
    position: fixed;
    border-radius:5px;
}

#book-page p {
    font-size: 30px;
    font-weight: 20;
    font-family: var(--secondary-font);
    padding: 20px;
}

#book-page button {
    background-color: darkred;
    color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 20;
    font-family: var(--primary-font);
    margin: 10px;
}


.footer {
    /* background-color: #9A6850; */
    background-color: darkred;
    color: goldenrod;
    padding: 10px;
    text-align: center; 
    width: 100%;
    height: 130px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}