* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.review-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.search-container {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;

    background-color: white;
    width: 40%;
}

.search-card {

    border-top: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}

.rating-container {
    position: relative;
    width: 150px;
    height: 30px;

}

.stars {
    background: url('../Images/star-background.svg') no-repeat;
    background-size: cover;
    width: 150px;
    height: 30px;
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0px;
}

.rating {
    background: url('../Images/rating-form.svg');
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 30px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}